@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Carrois+Gothic+SC');

body {
  font-family: 'Cardo', serif, 'Avenir Next';
  color: #685E79;
  background-color: #F5F5F5;
}

header {
  background-color: #685E79;
  text-align: center;
  padding-top: 40px;
}

h1 {
  font-family: "Cardo", serif;
  font-size: 70px;
  letter-spacing: 20px;
  word-spacing: 5px;
  color: white;
  font-weight: 600;
  font-variant: small-caps;
  text-transform: lowercase;
  padding-top: 38px;
}

nav {
  background-color: #685E79;
  padding: 70px 0 70px 0;
}

/* Carrois Gothic SC */
a {
  font-family: "Cardo", sans-serif;
  color: white;
  font-weight: 100;
  text-decoration: none;
  padding: 20px 0px;
  margin: 0 40px;
}

a:hover {
  /*text-decoration: underline;*/
  text-decoration: underline;
}

h2 {
  text-align: center;
  padding: 0px 0px 0 0px;
  margin: 0 0 40px 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

p {
  padding: 0 30px 20px 30px;
  font-size: 14px;
}

section {}

section div {
  padding: 50px 50px 50px 50px;
}

.half-page {
  /* Floating elements sit next to each other on one line as far as there is room. Float: left; makes elements sit next to each other starting on the left. We can also use float: right;  */
  float: left;
  /* We set a width of 50% to split the screen into two columns */
  width: 50%;
  height: 500px;
}

/* This class is applied to the 2nd section & the form in my HTML */
.highlight {
  background-color: white;
}

/* This styles up elements in html with a class of .big-image */
.big-image {
  /* This stretches the background images to cover the sections */
  background-size: cover;
}

/* These add different background images to the sections with id attributes */
/* .. brings us out of the css folder, /images selects the images folder, /sea.jpg selects the sea.jpg image
 */
#topic-one {
  background-image: url('images/INTERIOR.jpg');
  background-position: center;
}

#topic-two {
  background-image: url('images/scones.jpg');
  background-position: center left;
}

#topic-three {
  background-image: url('images/platter window.jpg');
  background-position: center;
}

div {
  /* This moves the topic content vertically down inside the sections with text. To adjust position, increase or decrease the percentage*/
  transform: translateY(30%);
  display: block;
  position: relative;
}

form {
  /* This fixes the floated layout and allows us to add height to the form -     float: none;*/
  clear: left;
  padding: 50px 50px 50px 50px;
  width: 50%;
  display: block;
  position: relative;
  margin: 0 auto;
}

.contact-form {
  background-color: white;
  clear: both;
  padding: 90px 0;
}

button {
  width: 50%;
  height: 35px;
  /* position: absolute; */
  /* right: 80px; */
  font-family: "Cardo", serif;
  text-align: center;
  /* text-transform: none; */
  font-size: 14px;
}

button:hover {
  color: white;
  text-decoration: underline;
  /**/
  /*color: black;
  position: right;
  align: right;
  transform: right;HOW DO I MOVE THE BOTTON TO THE RIGHT AND CHANGE BUTTON FILL COLOUR NOT THE TEXT?*/
}

.form-button {
  padding: 8px 0;
  border-radius: 0px;
  text-transform: none;
  background-color: #685e79;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  color: white;
}

footer {
  font-family: 'Cardo', serif;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  padding: 35px 25px;
  margin: 0 0px;
  color: #ffffff;
  text-align: center;
  background-color: #685E79;
}

a.link {
  color: inherit;
  margin: 0;
  padding: 0 30px 20px 30px;
  font-size: 14px;
}