@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700|Carrois+Gothic+SC');

body {
  font-family: 'Cardo', serif;
}

header {
  background-color: #685E79;
  text-align: center;
}

h1 {
  font-family: "Cardo", serif;
  font-size: 70px;
  letter-spacing: 20px;
  word-spacing: 5px;
  color: #FFFFFF;
  font-weight: 600;
  font-variant: small-caps;
  text-transform: lowercase;
  padding-top: 38px;
}

nav {
  background-color: #685E79;
  padding: 70px 0 35px 0;
}

/* Carrois Gothic SC */
a {
  font-family: 'Avenir Next', sans-serif;
  color: white;
  font-weight: 100;
  text-decoration: none;
  padding: 20px 40px;
  margin: 0 70px;
}

a:hover {
  color: #FFFFFF;
  /*text-decoration: underline;*/
  font-weight: 500;
}

h2 {
  text-align: center;
  padding: 0 50px 0 50px;
  margin: 0 0 40px 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}

p {
  text-align: justify;
  padding-bottom: 20px;
  font-size: 18px;
}

section {
  /* Floating elements sit next to each other on one line as far as there is room. Float: left; makes elements sit next to each other starting on the left. We can also use float: right;  */
  float: left;
  /* We set a width of 50% to split the screen into two columns */
  width: 50%;
  height: 500px;
}

section div {
  padding: 0 40px;
}

/* This class is applied to the 2nd section & the form in my HTML */
.highlight {}

/* This styles up elements in html with a class of .big-image */
.big-image {
  /* This stretches the background images to cover the sections */
  background-size: cover;
}

/* These add different background images to the sections with id attributes */
/* .. brings us out of the css folder, /images selects the images folder, /sea.jpg selects the sea.jpg image
 */
#topic-one {
  background-image: url('../images/interior.jpg');
  background-position: center;
}

#topic-two {
  background-image: url('../images/scones.jpg');
  background-position: center left;
}

#topic-three {
  background-image: url('../images/platter window.jpg');
  background-position: center;
}

div {
  /* This moves the topic content vertically down inside the sections with text. To adjust position, increase or decrease the percentage*/
  transform: translateY(30%);
  display: block;
  position: relative;
}

form {
  /* This fixes the floated layout and allows us to add height to the form */
  clear: left;
}

button {
  border: 2px solid #333333;
  padding: 8px 0;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: ;
  /*transparent*/
  margin-top: 20px;
  width: 15%;
  height: 35px;
  position: absolute;
  right: 80px;
  font-size: 14px;
  font-family: "Cardo", serif;
}

button:hover {
  border-color: #685E79;
  color: #685E79;
  font-weight: 700;
  /**/
  /*color: black;
  position: right;
  align: right;
  transform: right;HOW DO I MOVE THE BOTTON TO THE RIGHT AND CHANGE BUTTON FILL COLOUR NOT THE TEXT?*/
}